<h1>All Posts</h1>


<table class="table table-striped">
<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to post.title, post_path(post.id) %>
    </td>
    <td>
      by <%= post.user.email %>
    </td>
    <td>
      on <%= post.created_at.to_formatted_s(:long_ordinal) %>
<!--
http://api.rubyonrails.org/classes/DateTime.html#method-i-to_formatted_s
-->
    </td>
    <td>
      <%= post.replies.count %> 
      <% if post.replies.count == 1 %>
         reply
      <% else %>
        <%= 'reply'.pluralize %> 
      <% end %>
      |
      <%= link_to "Add reply", new_reply_path(post.id) %>
    </td>
    <td>
      <%= link_to "Delete post", post_path(post.id), method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to "Add new post", new_post_path, class:"btn btn-primary" %>


<% Reply.all.each do |r| %>
<br>
<%= r.id %><br>
<%= r.content %><br>
<% end %>
