<!DOCTYPE html>
<html>
<head>
  <title>Messageboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Message Board</a>
    </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">All Posts</a></li>
        <li class="active"><%= link_to "All Users", users_path %>
      </ul>
    <% if current_user %>
      <ul class="nav navbar-nav pull-right">
        <li class="active">
        <%= link_to "Profile", user_path(current_user.id) %>
        </li>
        
      </ul>
      <p class="navbar-text pull-right"><%= current_user.email %> | 
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
       <p class="navbar-text pull-right">
          <%= link_to "Sign in", new_user_session_path %>
       </p>
       <p class="navbar-text pull-right">
          <%= link_to "Sign up", new_user_registration_path %>
       </p>

    <% end %>
  </div>
</div>
<!--
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
-->
     <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>




<div class="container">
  <%= yield %>
</div>


</body>
</html>
